* {
    margin: 0;
    padding: 0;
    outline: 0;
}

#cor-atual {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;

    margin: 20px auto;

    background-color: rgb(0, 0, 0);

    border: 1px solid black;
    
    border-radius: 50%;
}

#cor-atual > div {
    width: 100px;
    height: 20px;

    text-align: center;

    background-color: white;

    border-radius: 20px;
}

#seletores-red, #seletores-green, #seletores-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    margin: 0 auto;

}

.seletores-cor {
    width: 80%;
    height: 0.5em;
    margin: 10px;
}